<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Planes de Pago</h2>
        <ol class="breadcrumb">
            <li><a href="/"><span><i class="fa fa-home"></i></span></a></li>
            <li><a ui-sref="catalogs">Cat&aacute;logos</a></li>
            <li><a ui-sref="catalogs.plan">Planes de Pago</a></li>
            <li class="active">{{ activeTitle }}</li>
        </ol>
    </div>
</div>
<br />
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{ activeTitle }} Plan de Pago</h5>
    </div>
    <div class="ibox-content">
        <div app-forminfo></div>
        <div app-message></div>
        <form name="frmPaymentPlan" ng-model="PaymentPlan" class="form-horizontal" novalidate>
            <div class="form-group" show-errors="{showSuccess: true}">
                <label class="col-sm-3 control-label">A&ntilde;o Escolar <span>*</span></label>
                <div class="col-sm-9">
                    <select name="enrollment_year_id" ng-model="PaymentPlan.enrollment_year_id" class="form-control" ng-options="option.id as option.name for option in schoolyears" required></select>
                    <p class="help-block" ng-if="frmPaymentPlan.enrollment_year_id.$error.required">El A&ntilde;o escolar es obligatorio</p>
                </div>
            </div>
            <div class="form-group" show-errors="{showSuccess: true}">
                <label class="col-sm-3 control-label">C&oacute;digo <span>*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="code" ng-model="PaymentPlan.code" class="form-control" required>
                    <p class="help-block" ng-if="frmPaymentPlan.code.$error.required">El c&oacute;digo es obligatorio</p>
                </div>
            </div>
            <div class="form-group" show-errors="{showSuccess: true}">
                <label class="col-sm-3 control-label">Nombre <span>*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="name" ng-model="PaymentPlan.name" class="form-control" required>
                    <p class="help-block" ng-if="frmPaymentPlan.name.$error.required">El nombre es obligatorio</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Valor de la Matr&iacute;cula</label>
                <div class="col-sm-9">
                    <input type="number" ng-model="PaymentPlan.enrollment_fee" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Valor de la Reserva</label>
                <div class="col-sm-9">
                    <input type="number" ng-model="PaymentPlan.cover" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Descripci&oacute;n</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="PaymentPlan.description" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Grados que aplica el plan <span>*</span></label>
                <div class="col-sm-9">
                    <select chosen multiple name="years" class="form-control" ng-model="PaymentPlan.years" ng-options="option.id as option.name for option in syears" required></select>
                    <p class="help-block" ng-if="frmPaymentPlan.years.$error.required">Seleccione al menos uno.</p>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="button" class="btn btn-primary" ng-click="save();"><i class="fa fa-save"></i> Guardar</button>
                    <a ui-sref="catalogs.plan" class="btn btn-default">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<br /><br />
<br />
