<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Planes de Pago</h2>
        <ol class="breadcrumb">
            <li><a href="/"><span><i class="fa fa-home"></i></span></a></li>
            <li><a href="/catalogs">Cat&aacute;logos</a></li>
            <li class="active">Planes de Pago</li>
        </ol>
    </div>
</div>
<br />
<action-buttons></action-buttons>
<div app-message></div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Filtrar por A&ntilde;o Escolar:</label>
                                <select name="schoolyear" class="form-control" ng-model="schoolyear" ng-change="get(1);" ng-options="option.id as option.name for option in schoolyears"></select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="10"><check-all></check-all></th>
                            <th width="10%"></th>
                            <th>C&oacute;digo</th>
                            <th>Nombre</th>
                            <th>Descripci&oacute;n</th>
                            <th>Grados</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="sy in plans | itemsPerPage: per_page" total-items="pagination.total" current-page="pagination.current_page">
                            <td><input type="checkbox" class="chk" name="sy_id" value="{{ sy.id }}"></td>
                            <td><a ui-sref="catalogs.fee({id: sy.id})" class="btn btn-sm btn-default">Colegiaturas</a> </td>
                            <td><a ui-sref="catalogs.planupdate({id: sy.id})">{{ sy.code }}</a></td>
                            <td><a ui-sref="catalogs.planupdate({id: sy.id})">{{ sy.name }}</a></td>
                            <td>{{ sy.description }}</td>
                            <td>
                                <span ng-repeat="year in sy.years">{{ year.name }}, </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <dir-pagination-controls on-page-change="get(newPageNumber)"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
