<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Planes de Pago</h2>
        <ol class="breadcrumb">
            <li><a href="/"><span><i class="fa fa-home"></i></span></a></li>
            <li><a href="/catalogs">Cat&aacute;logos</a></li>
            <li><a ui-sref="catalogs.plan">Planes de Pago</a> </li>
            <li><a ui-sref="catalogs.planupdate({id: plan.id})">{{ plan.name }}</a> </li>
            <li><a ui-sref="catalogs.fee({id: plan.id})">Colegiaturas</a> </li>
            <li class="active"><strong>{{ activeTitle }} Colegiatura</strong></li>
        </ol>
    </div>
</div>
<br />
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{ activeTitle }} Colegiatura</h5>
    </div>
    <div class="ibox-content">
        <div app-forminfo></div>
        <div app-message></div>
        <form name="frmFee" ng-model="Fee" class="form-horizontal" novalidate>
            <input type="hidden" name="payment_plan_id" ng-model="Fee.payment_plan_id">
            <input type="hidden" ng-model="Fee.order" name="order" value="5000">
            <div class="form-group" show-errors="{showSuccess: true}">
                <label class="col-sm-3 control-label">Nombre <span>*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="name" ng-model="Fee.name" class="form-control" required>
                    <p class="help-block" ng-if="frmFee.name.$error.required">El nombre es obligatorio</p>
                </div>
            </div>
            <div class="form-group" show-errors="{showSuccess: true}">
                <label class="col-sm-3 control-label">Valor de la Colegiatura <span>*</span></label>
                <div class="col-sm-9">
                    <input type="number" name="value" ng-model="Fee.value" class="form-control" required>
                    <p class="help-block" ng-if="frmFee.value.$error.required">El valor de la colegiatura es obligatorio</p>
                </div>
            </div>
            <div class="form-group" show-errors="{showSuccess: true}">
                <label class="col-sm-3 control-label">Fecha &Uacute;ltima de Pago <span>*</span></label>
                <div class="col-sm-9">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        <input type="text" readonly required name="fee_date" ng-model="Fee.fee_date" class="form-control datepicker" date-picker>
                    </div>
                    <p class="help-block" ng-if="frmFee.fee_date.$error.required">La fecha &uacute;ltima de pago es obligatoria</p>
                </div>
            </div>
            <!--<div class="form-group" show-errors="{showSuccess: true}">
                <label class="col-sm-3 control-label">Orden Correlativo <span>*</span></label>
                <div class="col-sm-9">
                    <input-number ng-model="Fee.order" name="order" required></input-number>
                    <small class="text-navy">Es un n&uacute;mero mayor que 0 e indica el orden en que aparecer&aacute; en la lista de colegiaturas.</small>
                    <p class="help-block" ng-if="frmFee.order.$error.required">El n&uacute;mero de orden correlativo es obligatorio. Debe ser un n&uacute;mero mayor que 0.</p>
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Pago Obligatorio?<br />
                    <small class="text-navy">Indica si es el pago de esta colegiatura es obligatorio.</small>
                </label>
                <div class="col-sm-9">
                    <input type="checkbox" name="is_mandatory" ng-model="Fee.is_mandatory" value="1" checked="checked">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Cuota por Reserva?<br />
                    <small class="text-navy">Indica si este pago representa la reserva de matr&iacute;cula.</small>
                </label>
                <div class="col-sm-9">
                    <input type="checkbox" name="is_cover" ng-model="Fee.is_cover" value="1" checked="checked">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Cuota por Matr&iacute;cula?<br />
                    <small class="text-navy">Indica si este pago representa la matr&iacute;cula.</small>
                </label>
                <div class="col-sm-9">
                    <input type="checkbox" name="is_enrollment_fee" ng-model="Fee.is_enrollment_fee" value="1" checked="checked">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Descripci&oacute;n</label>
                <div class="col-sm-9">
                    <input type="text" ng-model="Fee.description" class="form-control">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="button" class="btn btn-primary" ng-click="save();"><i class="fa fa-save"></i> Guardar</button>
                    <a ui-sref="catalogs.fee({id: plan.id})" class="btn btn-default">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<br /><br />
<br />
